#tictactoe {
    max-width: 600px;
    margin: auto;
}
div.game-cell {
    position: relative;
    background-color: #ccc;
    border: black 1px solid;
    padding: 0;
}
div.owned-by-X {
    background-color: #f00;
}
div.owned-by-O {
    background-color: #0f0;
}